<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-clipboard"
    version="1.0.0">

    <name>Clipboard</name>
    <description>BlackBerry 10 Community Contributed API to access the system clipboard</description>
    <license>Apache 2.0</license>
    <author>Merrick Zhang</author>
    <keywords>blackberry,clipboard,copy,paste,cordova</keywords>
    <repo>https://github.com/blackberry/WebWorks-Community-APIs.git</repo>
    <issue>https://github.com/blackberry/WebWorks-Community-APIs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/clipboard.js">
        <clobbers target="cordova.plugins.clipboard" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />
        <lib-file src="src/blackberry10/native/device/libclipboard3.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libclipboard3.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="cordova-plugin-clipboard" value="cordova-plugin-clipboard" />
        </config-file>
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Clipboard">
                <param name="android-package" value="org.apache.cordova.clipboard.Clipboard"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>

        <source-file src="src/android/Clipboard.java" target-dir="src/org/apache/cordova/plugin/clipboard" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
             <feature name="Clipboard">
                 <param name="ios-package" value="Clipboard" />
             </feature>
         </config-file>

         <header-file src="src/ios/CDVClipboard.h" />
         <source-file src="src/ios/CDVClipboard.m" />
    </platform>
</plugin>